body {
    background-color:powderblue;
}
h1{
    font-family:Arial;
}
p{
    border: 1px solid red;
    padding: 30px;
   
}

#marginP{
    
    margin: 30px;
}

p.error{
    color:red;
}

#linkinfo{
    border: none;
    padding: 0px;
}

a:link {
  color:orange; 
}

a:visited {
  color: darkblue;
}

a:hover {
  color: green;
}

a:active {
  color: yellow;
}
